#button-create{
  margin-bottom: 1em;
}

.col-auto #button-search{
  display: flex;
  float: right;
  top: 11px;
  margin: 40px;
}
.col-sm-3 {
  padding: 20px;
}

label{
  
  font-weight: 600;
}

.search-container {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0.5px solid lightgray;
  border-radius: 5px;
  padding: 15px;
}

.search-container button {
  position: relative;
  bottom: 0;
}

.new-invitation-container {
  align-items: center;
  height: 45px;
}

.new-invitation-container button {
  display: flex;
  float: right;
  margin-right: 2em;
}
i{
  margin-right:3px;
}
