<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">
        <i class="bi bi-capsule"></i>
        PharmacyManager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item ">
                <a routerLinkActive="active" class="nav-link btn btn-outline-info" routerLink="catalog">Drug catalog</a>
            </li>
            <li  class="nav-item">
                <a routerLinkActive="active" class="nav-link btn btn-outline-info" routerLink="purchases"> Follow purchase</a>
            </li>
        </ul>
    </div>


    <div class="info">

        <button  class="btn btn-outline-info" type="button">
            <a id="signup" routerLink= "signup" >
                <i class="bi bi-person-plus-fill"></i>SignUp</a>
        </button>
        <button  class="btn btn-outline-info" type="button">
            <a id="login" routerLink= "login" >
                <i class="bi bi-box-arrow-right"></i>LogIn</a>
        </button>
        <div class="cart">
            <a routerLink="cart">
                <img src="./assets/svg/icon_shopping_cart.svg" alt="logo">
            </a>
            <span class="counter">{{counter}}</span>
        </div>
    </div>
</nav>

