<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">PharmacyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a routerLinkActive="active" class="nav-link" routerLink="catalog">Catalog</a>
            </li>
            <li routerLinkActive="active" class="nav-item">
                <a class="nav-link" routerLink="purchases">Purchases</a>
            </li>
        </ul>
    </div>


    <div class="info">
        <app-login></app-login>
        <button *ngIf= "!profile; else elseBlock" class="btn btn-outline-success" type="button">LogIn</button>
        <ng-template #elseBlock>{{profile?.email}}</ng-template>

        <div class="cart">
            <a href="">
                <img src="./assets/svg/icon_shopping_cart.svg" alt="logo">
            </a>
            <span class="counter">{{counter}}</span>
        </div>
    </div>
</nav>

