.account-info {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 1em;
  float:right;
}

.account-img {
  width: 20px;
  height: 20px;
}

.user {
  vertical-align: center;
  margin-right: 1em;
  font-size: 17px;
}

h3 {
  display: inline;
}
