<p>solicitudes-create works!</p>

<!--div>
    <div *ngIf="drugs!==null" class="solicitude-container">
        <form (ngSubmit)="onSubmit()" [formGroup]="form" >
            <div *ngFor="let drug of drugs" class="mb-3">
                <label for="{{drug.drugCode}}" class="form-label" >
                    {{drug.drugCode}}
                </label>
                <input type="text" class="form-control" id="{{drug.id}}" 
                formControlName="{{drug.id}}" [formControl] ="{{drug.id}}">

                <input type="number" class="form-control" id="{{drug.drugCode}}" 
                formControlName="{{drug.drugCode}}" [formControl] ="{{drug.drugCode}}">
            </div>

            <button [disabled]="!form.valid" type="submit" class="btn btn-primary">Export</button>
        </form>
    </div>
</div-->

<form (ngSubmit)="onSubmitCreateSolicitude(); form.reset()" [formGroup]="form" >
<table class="table table-hover" >
    <thead>
        <tr>
            <th scope="col">Drug code</th>
            <th scope="col">Amount</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
    <!--div *ngIf="drugs!==null" class="solicitude-container"-->
            <tr *ngFor ="let drug of drugs" class="mb-3">
            <td>
                <label for="{{drug.drugCode}}" class="form-label">
                    {{drug.drugCode}}
                </label>
            </td>
            <td>
                <input id="{{drug.drugCode}}" name="{{drug.drugCode}}"  
                type="number" class="form-control" 
                formControlName="{{drug.drugCode}}" min="1" max="999">
            </td>
            <td>   
                <a (click)="addItem(drug)" class="btn btn-primary">
                    Add to solicitude
                </a>
            </td>
            </tr>
            <div class="buttons">
                <button  type="submit" class="btn btn-primary"  [disabled]="!form.valid">
                <span *ngIf="pressed" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Submit
                </button>
            </div>
            
        </tbody>
    </table>
</form>
  




























<!--table class="table table-hover" >
    <thead>
        <tr>
            <th scope="col">Drug code</th>
            <th scope="col">Amount</th>
        </tr>
    </thead>
    <tbody>
        <form [formGroup]="form" (ngSubmit)="onSubmitCreateSolicitude(); form.reset()"  >
    <tr *ngFor="let drug of drugs">
        
        <td>{{drug.drugCode}}
            <label for="{{drug.drugCode}}" class="form-label">{{drug.drugCode}}</label>
        </td>
        <td>
            <div class="form">
                <div class="form-group">
                    <div class="control" >
               
                    <input id="{{drug.drugCode}}" name="{{drug.drugCode}}"  type="number" class="form-control" formControlName="{{drug.drugCode}}" min="1" max="999">
  
                   </div>
                </div>
            </div>
    </td>
    <td>   <a class="btn btn-primary">Add to cart</a></td>



    </tr>
    <div class="buttons">
    <button type="submit" class="btn btn-primary" 
    [disabled]="!form.valid">
    <span *ngIf="pressed" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    Submit
    </button>
    </div>
</form>
</tbody>
</table-->