<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Drug Code</th>
        <th scope="col">Name</th>
        <th scope="col">Symptoms</th>
        <th scope="col">Price</th>
        <th scope="col">Pharmacy Name</th>
        <th scope="col">Stock</th>
        <th scope="col">Presentation</th>
        <th scope="col">Quantity Per Presentation</th>
        <th scope="col">Unit of Measurement</th>
        <th scope="col">Needs Prescription</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let drug of drugs">
        <td>{{drug.drugCode}}</td>
        <td>{{drug.name}}</td>
        <td>{{drug.symptoms}}</td>
        <td>{{drug.price}}</td>
        <td>{{drug.pharmacyName}}</td>
        <td>{{drug.stock}}</td>
        <td>{{drug.presentation}}</td>
        <td>{{drug.quantityPerPresentation}}</td>
        <td>{{drug.unitOfMeasurement}}</td>
        <td>{{drug.needsPrescription}}</td>
        <td>
            <button (click)="onDelete(drug.id)" class="btn btn-primary btn-sm">Delete</button>
        </td>
    </tr>
    </tbody>
</table>
