<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Username</th>
        <th scope="col">Role</th>
        <th scope="col">Pharmacy</th>
        <th scope="col">Code</th>
        <th scope="col">Used</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let invitation of invitations">
        <td>{{invitation.userName}}</td>
        <td>{{invitation.roleName}}</td>
        <td>{{invitation.pharmacyName}}</td>
        <td>{{invitation.invitationCode}}</td>
        <td>{{invitation.used}}</td>
    </tr>
    </tbody>
</table>
