<h2>SignUp</h2> 
<form>
    <div class="form">
        
        <div class="row">
            <div class="form-group">
                <label for="code">Invitation Code: </label>
                <input required id="code" name ="code" class="form-control" type="number"
                placeholder="Enter numeric code of 6 digits" [(ngModel)]="code">
            </div>
            <div class="form-group">
                <label for="userName">Username: </label>
                <input required id="userName" name ="userName"class="form-control" type="text" 
                placeholder="Enter username" [(ngModel)]="invitation.userName">
            </div>
            <div class="form-group">
                <label for="mail">Mail: </label>
                <input required id="mail" name ="mail" class="form-control" type="email"
                placeholder="Enter email" [(ngModel)]="invitation.email">
            </div>
            <div class="form-group">
                <label for="address">Address: </label>
                <input required id="address" name ="address" class="form-control" type="text"
                placeholder="Enter address" [(ngModel)]="invitation.address">
            </div>
            <div class="form-group">
                <label for="password">Password: </label>
                <input required id="password" name ="password" class="form-control" type="password"
                placeholder="Enter password" [(ngModel)]="invitation.password">
            </div>

            
            <div class="buttons">
                <button type="submit" (click)="submitSignup()" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</form>

