<div class="search-code">
    <form class="row gx-3 gy-2 align-items-center">
        <div class="col-sm-3">
            <label class="visually-hidden" for="specificSizeInputGroupUsername">Username</label>
            <div class="input-group">
                <div class="input-group-text">#</div>
                <input name="code" type="text" class="form-control" id="specificSizeInputGroupUsername" placeholder="Code"
                       [(ngModel)]="purchaseCode"
                       (keydown)="onInputChange()">
            </div>
        </div>
        <div class="col-auto">
            <button [disabled]="isButtonDisabled()" (click)="onSearchCode()" type="submit" class="btn btn-success">Search</button>
        </div>
        <div class="col-auto">
            <div *ngIf="findStatus =='error'" class="alert alert-primary messages"  role="alert">
                The code can't be found
            </div>
        </div>
    </form>
</div>



<app-purchase-detail *ngIf="foundPurchase !== null" [purchase]="foundPurchase"></app-purchase-detail>
